
*.pyc
*.pyo
*.pyd
__pycache__/

.env
.env.*

venv/
ENV/
env/
.venv/
*.egg-info/

*.log

.git/
.gitignore

.dockerignore
docker-compose.yml

.idea/
.vscode/

tests/

postgres_data/

