
__pycache__/
*.py[cod]
*$py.class


alembic/versions/


.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/


.venv/
*.env
Lib
Scripts

pyvenv.cfg

.pytest_cache/



.env

include/
*.env


*.db
*.sqlite3


*.log


.vscode/


*.pyo
*.pyd
*.pdb
